<div class="custom-box">
  <h1>Products</h1>
</div>

<div class="container-table">
  <div class="relative  w-full  shadow-md dark:bg-gray-800">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 rounded-sm width-table-custom-list border-white-700">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            category
          </th>
          <th scope="col" class="px-6 py-3">
            description
          </th>
          <th scope="col" class="px-6 py-3">
            id
          </th>
          <th scope="col" class="px-6 py-3">
            image
          </th>
          <th scope="col" class="px-6 py-3">
            price
          </th>
          <th scope="col" class="px-6 py-3">
            title
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productosSignal()"
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
          <td scope="row" class="px-6 py-4 font-medium text-gray-900 break-words dark:text-white">
            {{producto.category}}
          </td>
          <td scope="row" class="px-6 py-4 font-medium text-gray-900 break-words dark:text-white">
            {{producto.description}}
          </td>
          <td scope="row" class="px-6 py-4 font-medium text-gray-900 wbreak-words dark:text-white">
            {{producto.id}}
          </td>
          <td scope="row" class="px-6 py-4 font-medium text-gray-900 break-words dark:text-white">
            <img src="{{producto.image}}" class="w-20 h-10">
          </td>
          <td scope="row" class="px-6 py-4 font-medium text-gray-900 break-words dark:text-white">
            {{producto.price}}
          </td>
          <td scope="row" class="px-6 py-4 font-medium text-gray-900 break-words dark:text-white">
            {{producto.title}}
          </td>
          <td class="px-6 py-4 font-medium text-gray-900 break-words dark:text-white">
            <button (click)="editProduct(producto)"
              class="text-white bg-blue-900  p-2 rounded-md hover:bg-blue-800 focus:ring-1 focus:outline-none focus:ring-blue-500 cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
              </svg>

            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
